
@{
    ViewBag.Title = "Technology";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<style>

    .text {
        margin: 15px 0px;
    }

    .fa {
        color: #4183D7;
    }

    .same {
        padding: 12px;
    }
</style>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0"> Công nghệ</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Công nghệ</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="@Url.Action("PostQuestion","Question")" class="btn btn-sm btn-neutral"><i class="far fa-paper-plane"></i> Đặt câu hỏi?</a>
                    <a href="#" class="btn btn-sm btn-neutral"><i class="far fa-edit"></i> Đăng bài viết </a>
                </div>
                <div class="col-xl-12">
                    <div class="col-xl-7">
                        <p style="color:white">Thẻ là một từ khóa hoặc nhãn phân loại câu hỏi của bạn với các câu hỏi tương tự khác. Việc sử dụng các thẻ phù hợp giúp người khác tìm và trả lời câu hỏi của bạn dễ dàng hơn.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-7">
                    <div class="btn-group float-left mb-3 mt--4" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-default">Hot<i class="far fa-snowflake text-success"></i></button>
                        <button type="button" class="btn btn-secondary">Nhiều thành viên</button>
                        <button type="button" class="btn btn-secondary">Hỏi nhiều</button>
                        <button type="button" class="btn btn-secondary">Trả lời đúng</button>
                    </div>
                </div>
                <div class="col-xl-5 text-right">
                    <div class="mb-3 mt--4">
                        <a class="btn btn-link text-secondary">Tuần</a>|
                        <a class="btn btn-link text-secondary">Tháng</a>|
                        <a class="btn btn-link text-secondary">Năm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="row" id="AllQuestionPage">
                

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same" ng-repeat="x in listTechnology">

                    <div class="text-left border" style="background-color:#f8f9fe;padding:10px">

                        <div class="title">
                            <a href="#" class="badge badge-pill badge-info text-uppercase"><i class="fas fa-tag"></i>{{x.technology_name}}</a>
                        </div>

                        <div class="text">
                            <span>{{x.technology_note}} Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>
                        <div class="row">
                            <div class="col-xl-5">
                                <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">{{x.technology_totalQuestion}} Câu hỏi</p>
                            </div>
                            <div class="col-xl-7">

                                <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <!--phân trang-->
                    phân trang
                </div>

            </div>
        </div>


    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("/View/ListTechnology")
            .then(function (response) {
                // First function handles success
                $scope.listTechnology = response.data;
            }, function (response) {
                // Second function handles error
                $scope.listTechnology = "Something went wrong";
            });
    });
</script>
