<hr />

<div class="">
    <div class="card-body">
        <h4 class="card-title">Bài viết đề xuất</h4>
        <div class="row">
            <div class="col-2 mr--1">
                <a href="#"><i class="fas fa-info-circle"></i></a>
            </div>
            <div class="col-xl-10 ml--3">
                ...
            </div>
        </div>
        <span style="font-size:28px">...</span>
    </div>
</div>
<hr />
<div class="">
    <div class="card-body">
        <h4 class="card-title">Những người cùng công nghệ</h4>
        <div class="row">
            <div class="col-2 mr--1">
                <a href="#"><i class="fas fa-info-circle"></i></a>
            </div>
            <div class="col-xl-10 ml--3">
                ...
            </div>
        </div>
        <span style="font-size:28px">...</span>
    </div>
</div>

