@{
    ViewBag.Title = "AuthenticationOption";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
<div class="row">
    <div class="col-xl-12 p-9">
        <h2>Mã của bạn sẽ gửi qua</h2>
        <u class="text-danger">@ViewBag.AuthenticationOption</u>
        <form method="post">
            <div class="row">
                <div class="col-xl-3">
                    <select name="authenticationOption" class="form-control">
                        <option value="phone">Số điện thoại của bạn</option>
                        <option value="email">Email của bạn</option>
                    </select>
                </div>
                <div class="col-xl-9">
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </div>
                <div class="col-xl-6 border mt-2"></div>
            </div>
        </form>
    </div>
</div>


