
@{
    ViewBag.Title = "EmailAuthentication";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<h2>Mã có hiệu lực trong 3p</h2>
<form method="post">
    <input type="text" name="codeAuthentication" class="form-control" required="" placeholder="Nhập mã xác thực..."/>
    <button type="submit" class="btn btn-dark">Xác thực</button>
</form>

