
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<h2>Nhập Email hoặc số điện thoại đã xác nhận của bạn.</h2>
<u style="color:red">@ViewBag.forgotPassword @ViewBag.notification</u>
<br />
<form method="post">
    <input type="text" name="send" class="form-control" placeholder="Nhập email hoặc số điện thoại..."/>
    <button class="btn btn-dark mt-2">Gửi</button>
</form>


