
@{
    ViewBag.Title = "SettingAccount";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<style>
    .bg-primary {
        background-color: #525f7f !important;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #00A0C6;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Cài đặt cá nhân</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cài đặt cá nhân</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    ...
                </div>
                <div class="col-xl-12">
                    <u style="color:white">Bổ xung thông tin để chúng tôi giúp bạn tìm những người bạn và các chủ để phù hợp.</u>
                </div>
                <div class="col-xl-12 mt-3">
                    <div class="row" style="color:white">
                        <div class="col-xl-7">
                            <a data-toggle="collapse" href="#collapseExampleName" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-user-cog"></i> Tên*
                            </a>
                            <div class="collapse" id="collapseExampleName">
                                <div class="card card-body">
                                    <form action="#" method="post">
                                        <input type="text" name="#" class="form-control" placeholder="Tên của bạn .."/><br />
                                        <button type="submit" class="btn btn-success float-right"><i class="far fa-save"></i> Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-7">
                            <a data-toggle="collapse" href="#collapseExampleSex" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-mars"></i> Giới tính*

                            </a>
                            <div class="collapse" id="collapseExampleSex">
                                <div class="card card-body">
                                    <form action="#" method="post">
                                        <select name="#" class="form-control">
                                            <option>
                                                Chọn giới tính...
                                            </option>
                                            <option>Nam</option>
                                            <option>Nữ</option>
                                            <option>LGPT</option>
                                            </select><br />
                                        <button type="submit" class="btn btn-success float-right"><i class="far fa-save"></i> Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <a data-toggle="collapse" href="#collapseExampleBirthDay" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-birthday-cake"></i> Ngày sinh*

                            </a>
                            <div class="collapse" id="collapseExampleBirthDay">
                                <div class="card card-body">
                                    <form action="#" method="post">
                                        <input type="date" name="#" class="form-control" placeholder="Ngày sinh .." /><br />
                                        <button type="submit" class="btn btn-success float-right"><i class="far fa-save"></i> Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <a data-toggle="collapse" href="#collapseExampleLoveWork" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="far fa-thumbs-up"></i> Sở thích công việc*

                            </a>
                            <div class="collapse" id="collapseExampleLoveWork">
                                <div class="card card-body">
                                    <form action="#" method="post">
                                        <textarea name="#" class="form-control" placeholder="Sở thích công việc .."></textarea>
                                        <br />
                                        <button type="submit" class="btn btn-success float-right"><i class="far fa-save"></i> Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <a data-toggle="collapse" href="#collapseExampleLove" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="far fa-heart"></i> Sở thích cá nhân*

                            </a>
                            <div class="collapse" id="collapseExampleLove">
                                <div class="card card-body">
                                    <form action="#" method="post">
                                        <textarea name="#" class="form-control" placeholder="Sở thích cá nhân .."></textarea><br />
                                        <button type="submit" class="btn btn-success float-right"><i class="far fa-save"></i> Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

