@using FivePSocialNetwork.Models;
@{
    if (Request.Cookies["user_id"] == null)
    {
        Response.Redirect("/Center/IndexCenter");
    }
    int user_id = int.Parse(Request.Cookies["user_id"].Value.ToString());
    FivePSocialNetWorkEntities db = new FivePSocialNetWorkEntities();
    User user = db.Users.Find(user_id);
    string selected = "selected";

    ViewBag.Title = "TechnologyUser";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<style>
    .bg-primary {
        background-color: #525f7f !important;
    }

    a {
        color: white;
        text-decoration: none;
    }

        a:hover {
            color: #00A0C6;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tùy chỉnh công nghệ</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tùy chỉnh công nghệ</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    ...
                </div>
                <div class="col-xl-12">
                    <u style="color:white">Cho chúng tôi biết công nghệ bạn dùng, để hiển thị nội dung phù hợp .</u>
                </div>
                <div class="col-xl-12 mt-3">
                    <div class="row" style="color:white">
                        <div class="col-xl-7">
                            <a data-toggle="collapse" href="#collapseExampleName" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fab fa-react"></i> Công nghệ của bạn - ...,..,..
                            </a>
                            <div class="collapse" id="collapseExampleName">
                                <div class="card card-body">
                                    @{
                                        List<Technology> technology = db.Technologies.Where(n => n.technology_activate == true && n.technology_recycleBin == false).ToList();
                                        List<Teachnology_User> teachnology_User = db.Teachnology_User.Where(n => n.user_id == user_id).ToList();
                                    }
                                    <form method="post">
                                        @Html.AntiForgeryToken()
                                        <select name="technology_id" class="form-control" id="selectTechnology" multiple="multiple">
                                            @foreach (var item in technology)
                                            {
                                                <option value="@item.technology_id" @foreach (var item2 in teachnology_User) { if (item.technology_id == item2.technology_id) { @selected } }>@item.technology_name</option>
                                            }
                                        </select>
                                        <button type="submit" class="btn btn-success float-right mt-3"><i class="far fa-save"></i> Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#selectTechnology").select2({
        placeholder: 'Nhập công nghệ (tối đa 3 công nghệ)..',
        maximumSelectionLength: 3,
        allowClear: true
    });
</script>

