<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-ng-bind-html-production</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>



</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/srcery.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<body>
    <pre>
        <code>
            document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
            });
            });
        </code>

</pre>
</body>
